body {
    width: 100%;
    max-width: none;
    margin: 10px;
    padding: 0;
}

/* link color for dark theme */
[data-sakura-theme="sakura-dark"] a {
    color: #5aadff;
}

[data-sakura-theme="sakura-dark"] a:visited {
    color: #a878f0;
}
